
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;   
}


h1,h2{
  font-family: 'Sedgwick Ave Display', cursive;
}

h3{
  font-family: 'DynaPuff', cursive;
}

p{
  font-family: 'Roboto Mono', monospace;
}

.texto-homero{
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10%;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .header-content img {
    max-height: 50px;
  }
  
  .header-content h1 {
    font-size: 30px;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
  }

  .btn-registracion{ 
    background-color: #5f33c7;
    border-radius: 5%;
    color: #dee2e6;
    padding: 5px;
    
    
  }
  
  nav a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  }
  
  nav a:hover:before {
    transform: scaleX(1);
  }
  
  @media screen and (max-width: 765px) {
    nav ul {
      display: flex;
      flex-direction: column;
    }
    nav li {
      margin: 3px;
      text-align: center;
    }
  }

  /* main section fotobackground*/

  .container {
    background-image: url('./Imagenes/fonzo.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: #fff;
    font-size: 50px;
    text-align: center;
    background-color: rgb(155, 141, 141);
    padding: 10px;
    border-radius: 20%;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      height: 200px;
    }
    
    .title {
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      height: 150px;
    }
    
    .title {
      font-size: 18px;
    }
  }


/* section grid*/
.section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.box {
  background-color: #f0f0f0;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
}

.box-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-img img {
  max-width: 100%;
  max-height: 100%;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-text h2 {
  margin-top: 0;
}

.box-text p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .section-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .box {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .section-grid {
    grid-template-columns: 1fr;
  }
  
  .box {
    height: 200px;
  }
}

/* propaganda */

.propaganda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 50px;
  margin-top: 20px;
 }

.texto {
  flex: 1;
  padding: 20px;
  text-align: justify;
}

.img-propaganda {
  flex: 2;
}

.img-propaganda img {
  border-radius: 5%;
}

@media screen and (max-width: 600px) {
  .propaganda {
    flex-direction: column;
  }
  
  .texto {
    order: 1;
    flex-basis: 100%;
  }
  
  .img-propaganda {
    order: 2;
    flex-basis: 100%;
  }
}



/* Nuestros modelos*/

.nuestros-modelos {
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 20px;
}

.nuestros-modelos h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.modelos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .modelos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .modelos-grid {
    grid-template-columns: 1fr;
  }
}

.modelos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

img.modelos-img {
  max-width: 150px;
  height: 150px;
}

.nuestros-modelos .modelos:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


  /*section carousel*/

  .container-carousel{
    width: 100%;
    margin-top: 20px;
    height: 600px;
    border-bottom: thin black 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
    background-color: #dee2e6;
    }
  
  .carrousel{
      width: 100%;
  }
  
  .conteCarrousel{
      width: 100%;
      height: 400px;
      overflow: hidden;
  }
  
  .itemCarrousel{
      position: relative;
      width: 100%;
      height: 100%;
  }
  
  .itemCarrouselTarjeta{
      width: 100%;
      height: 100%;
  }
  
  .itemCarrouselArrows{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px; 
  }
  
  .itemCarrouselArrows > i:hover {
      cursor: pointer;
  }
  
  #itemCarrousel-1{
      background-image: url(./Imagenes/carusel1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      
  
  }
  
  #itemCarrousel-2{
      background-image: url(./Imagenes/carusel2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  }
  
  #itemCarrousel-3{
      background-image: url(./Imagenes/carusel3.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  }
  
  .conteCarrouselController{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  }
  
  .conteCarrouselController > a{
      text-decoration: none;
      font-size: 2em;
      color: grey;
  }
  
  .itemCarrouselArrows > a > i{
      color: black;
  }


/*footer*/


.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo{
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: 50px;
}

.footer-logo h3 {
  margin-left: 10px;
  font-size: 1.5em;
}

.footer-social {
  text-align: center;
}

.footer-social h3 {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #aaa;
}
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  
}


/*    contacto    */

.contacto {
  background-color: #f5f5f5;
  padding: 100px 0;
  height: 900px;
}

.container-contacto {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  flex: 1;
  margin-right: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 30px;
  }

.form-container h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: #555;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border: 2px solid #555;
}

input[type="submit"] {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #333;
}

.map-container {
  flex: 1;
}

.map-container {
  flex: 1;
  position: relative;
  padding-bottom: 56.25%; /* relación de aspecto 16:9 */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 540px) {
  .container-contacto {
    flex-direction: column;
    margin: 20px;
        
  }

  
  .form-container {
    margin-right: 0;
    margin: 20px;
  }
}

 /* productos*/

 .container-productos {
  background-image: url('./Imagenes/fonzo.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }


 .ecommerce-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 20px;
}

.product-box {
  flex-basis: 30%;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  margin-bottom: 20px; 
  transition: transform 0.3s ease;
}

.product-box img {
  max-width: 100%;
  height: 250px;
}

.btn-comprar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 10%;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.btn-comprar:hover {
  background-color: #0056b3;
}

.product-box img:hover {
  transform: scale(1.05);
}

.background-imagen-productos {
  background-image: url('./Imagenes/simpsons\ banner-homero.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-container-productos {
  padding: 50px;
  color: black;
  text-align: center;
}

.text-container-productos h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text-container-productos p {
  font-size: 1.5rem;
  line-height: 1.5;
}


@media screen and (max-width: 768px) {
  .ecommerce-section {
    display: flex;
    flex-flow: wrap;
  }

  .product-box {
    flex-basis: 40%; /* Reducir el ancho de los productos en pantallas pequeñas */
  }
}

@media screen and (max-width: 480px) {
  .ecommerce-section {
    display: flex;
    flex-direction: column;
  }
  .product-box{
    width: 90%;
    
  }
}



/*     Compras           */


.cart-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}



.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.cart-item-info h3 {
  margin-top: 0;
}

.cart-item-remove {
  margin-left: auto;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.cart-item-remove:hover {
  background-color: #c82333;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.cart-checkout {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.parrafo-total{
  margin-right: 10px;
}

.cart-checkout:hover {
  background-color: #0056b3;
}

@media (max-width: 778px) {
  .cart-items {
    flex-direction: column;
    align-items: center;
  }
  
}

@media screen and (max-width: 480px) {
  .cart-item {
    margin: 5px;
    gap: 10px;
  }

}



.payment-methods {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.payment-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.payment-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 120px;
}

.payment-icon img {
  max-width: 100%;
  height: auto;
}

.payment-icon span {
  margin-top: 10px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .payment-icons {
    flex-direction: column;
    align-items: center;
  }
  
  .payment-icon {
    margin: 10px 0;
    
  }
}





/* nosotros */

.background-imagen-nosotros {
  background-image: url('./Imagenes/simpsons\ banner-homero.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }

.text-container-nosotros {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  padding: 50px;
  color: black;
  text-align: center;
}

.text-container-nosotros h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text-container-nosotros p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.nosotros {
  background-color: #f8f8f8;
  padding: 80px 0;
}

.nosotros h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.nosotros-container {
  display: flex;
  justify-content: space-around;
}

.nosotros-card {
  width: 300px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nosotros-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.nosotros-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.nosotros-card p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}


@media (max-width: 1000px) {
  .nosotros-container {
    flex-direction: column;
    align-items: center;
  }
  .nosotros-card{
    margin: 15px;
  }
  
}


/*   registracion */

.registracion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  
}

.form-registracion {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  align-items: center;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-registracion {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    padding: 8px;
  }
}

